# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/ui/node_modules
/packages/ui/storybook-static
/packages/logger/node_modules
/packages/web3Connectors/node_modules
/packages/urlSearchParams/node_modules

/sites/cra-test-app/node_modules
/sites/cra-test-app/build
/.idea
