# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/packages/antdComponents/node_modules
/packages/antdComponents/yarn.lock
/packages/antdComponents/dist

/packages/lazyLoader/node_modules
/packages/lazyLoader/yarn.lock
/packages/lazyLoader/package-lock.json
/packages/lazyLoader/dist

/packages/lazyLoaderNextJs/node_modules
/packages/lazyLoaderNextJs/yarn.lock
/packages/lazyLoaderNextJs/package-lock.json
/packages/lazyLoaderNextJs/dist
/packages/lazyLoaderNextJs/.next

/packages/ui/node_modules
/packages/ui/storybook-static
/packages/ui/dist
/packages/ui/yarn.lock
/packages/ui/package-lock.json

/packages/logger/node_modules
/packages/logger/dist
/packages/logger/yarn.lock
/packages/logger/package-lock.json

/packages/oortApiClient/node_modules
/packages/oortApiClient/dist
/packages/oortApiClient/yarn.lock
/packages/oortApiClient/package-lock.json

/packages/web3Connectors/node_modules
/packages/web3Connectors/dist
/packages/web3Connectors/package-lock.json
/packages/web3Connectors/yarn.lock

/packages/urlSearchParams/node_modules
/packages/urlSearchParams/dist
/packages/urlSearchParams/yarn.lock
/packages/urlSearchParams/package-lock.json

/packages/utils/node_modules
/packages/utils/dist
/packages/utils/yarn.lock
/packages/utils/package-lock.json

/packages/nftProviders/node_modules
/packages/nftProviders/dist
/packages/nftProviders/yarn.lock
/packages/nftProviders/package-lock.json

/packages/siteLayout/node_modules
/packages/siteLayout/dist
/packages/siteLayout/.next
/packages/siteLayout/yarn.lock

/.idea
