$base-white: #ffffff;

$primary-1: #ebfaf9;
$primary-2: #c2efec;
$primary-3: #9ae5e0;
$primary-4: #71dad4;
$primary-5: #49cfc7;
$primary-6: #2fb4ac;
$primary-7: #2aa29b;
$primary-8: #258e87;
$primary-9: #207974;
$primary-10: #15514d;

$neutral-1: #ffffff;
$neutral-2: #fafafa;
$neutral-3: #f5f5f5;
$neutral-4: #f0f0f0;
$neutral-5: #d9d9d9;
$neutral-6: #bfbfbf;
$neutral-7: #8c8c8c;
$neutral-8: #595959;
$neutral-9: #434343;
$neutral-10: #262626;
$neutral-11: #1f1f1f;
$neutral-12: #141414;
$neutral-13: #000000;

$dark-1: #11151a;
$dark-2: #1a1f26;
$dark-3: #222831;
$dark-4: #252e36;
$dark-5: #384048;
$dark-6: #5d6971;
$dark-7: #6e7882;
$dark-8: #939da8;
$dark-9: #a9b1ba;
$dark-10: #c1c7ce;
$dark-11: #cad0d7;
$dark-12: #dde1e6;
$dark-13: #f2f3f5;

$green-7: #389e0d;
$purple-1: #f9f0ff;
$purple-3: #d3adf7;
$purple-6: #722ed1;

$violet-med: #b39ed6;
$violet-dark: #73688f;
$gold-2: #fff1b8;
