@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

$animation-time: 0.00s;

@mixin fade-in {
    animation: fadeIn $animation-time;
    -webkit-animation: fadeIn $animation-time;
    -moz-animation: fadeIn $animation-time;
    -o-animation: fadeIn $animation-time;
    -ms-animation: fadeIn $animation-time;
}

@mixin fade-out {
    animation: fadeOut $animation-time;
    -webkit-animation: fadeOut $animation-time;
    -moz-animation: fadeOut $animation-time;
    -o-animation: fadeOut $animation-time;
    -ms-animation: fadeOut $animation-time;
}