@import "../../styles/typography.less";
@import "../../styles/vars.less";
.range-trigger-btn {
  .sub-title {
    .label {
      color: @theme-color-10;
      .body-14-regular-mixin;
    }

    .value {
      margin: 0 5px;
      color: @theme-color-10;
      .body-14-bold-mixin();
    }
  }
}
