
@import "../styles/theme/vars.less";

.root {
    display: flex;
    flex-direction: column;
}

.root > .top_header {
    height: 52px;
    background-color: @theme-color-4;
    display: flex;
    align-items: center;

    & > .logo {
        margin-left: 18px;
        height: 24px;
    }
}

.root > .content {
    background: @theme-color-3;
}
