
@import "../styles/theme/vars.less";

.root {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.root > aside {
    display: flex;
    flex-direction: row;
    background: @theme-color-2;
    // width: 300px;
    flex: 1 0 10%;
}

.root > .content {
    width: 100%;
    overflow-y: auto;
}

.root > aside .logo {
    margin-top: 34px;
    margin-bottom: 195px;
    margin-left: 24px;
}

.root > aside .footer {
    margin-top: 140px;
}

