@import "../styles/vars.scss";
@import "../styles/typography.scss";

.top_header_menu {
  max-width: 400px;
  .header {
    padding: 16px 24px;
    border: none;

    > :global(.ant-drawer-header-title) {
      justify-content: end;
      :global(.ant-drawer-title) {
        color: $dark-10;
        @include h3-semibold-mixin();
      }

      :global(.ant-drawer-close) {
        margin: 0;
        padding: 0;
        color: $dark-10;
        display: flex;
        order: 2;
      }
    }
  }

  .body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.burger_icon {
  cursor: pointer;
  display: flex;
  color: $theme-color-8 !important;
}
