@import "../../styles/vars.less";
@import "./vars.less";

.aside {
  & > .nav_menu {
    margin-top: 20px;
    // margin-bottom: 70px;
  }

  & > .footer {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
  }
}
