$bg: #4BD3E7;
$borderRadius: 48px;
$color: #212A34;

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 48px;
    cursor: pointer;
	border-radius: $borderRadius;
	color: $color;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;

    > span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }
}

.hover {
	:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $bg;
		border-radius: $borderRadius;
		z-index: -2;
	}
	:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($bg, 15%);
		transition: all .3s;
		border-radius: $borderRadius;
		z-index: -1;
	}
	:hover {
		color: $color;
		&:before {
			width: 100%;
		}
	}
}