@import "../styles/typography.scss";
@import "../styles/palette.scss";

.modal {
  .content {
    border-radius: 8px;
    padding-top: 32px;
    padding-bottom: 0;

    > :global(.ant-modal-close) {
      color: $dark-10;
      height: 54px;
      width: 54px;
      > span {
        padding: 19px;
      }
    }

    > .header {
      margin-top: 20px;
      margin-bottom: 0;
      padding-left: 24px;
      padding-right: 24px;

      > :global(.ant-modal-title) {
        @include h3-semibold-mixin;
        text-align: center;
      }
    }

    > .body {
      padding: 36px;
    }

    > .footer {
      text-align: center;
      margin-top: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 10px 16px;
    }
  }
}
