@import "../styles/typography.scss";
@import "../styles/palette.scss";

.modal {
  :global(.ant-modal-body) {
    padding-top: 64px;
  }
  .description {
    margin-bottom: 24px;
    text-align: center;
    color: $dark-13;
    @include body-16-regular-mixin;
  }

  .chain_buttons {
    margin-bottom: 56px;
  }

  :global(.ant-modal-content) {
    padding-bottom: 0 !important;

    :global(.ant-modal-footer) {
      margin-top: 22px;
      padding: 17px 100px;
      color: $dark-13;
      background: $dark-3;
      text-align: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
