@import "../styles/typography.scss";
@import "../styles/palette.scss";

.button {
  @mixin acc-mixin() {
    @include body-14-regular-mixin;
    flex: auto;
    text-align: right;
  }

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
  min-width: 290px;
  height: 64px;
  padding: 16px;

  background-color: $dark-4;
  /* Neutral / 5 */
  border: 1px solid $dark-5;
  border-radius: 8px;

  .wallet_name {
    @include body-16-medium-mixin;
    margin-left: 8px;
    color: $dark-13;
  }

  .acc {
    @include acc-mixin;
    color: $dark-13;
  }
  .cnn {
    @include acc-mixin;
    color: $primary-6;
  }
}

.button.active {
  cursor: default;
  background: rgba(47, 180, 172, 0.1);
  border: 2px solid $primary-6;
  .wallet_name {
    color: $primary-6;
  }
}

.button.disabled {
  cursor: default;
}

.button.loading {
  cursor: default;
  border: 2px solid $dark-5;
  background: $dark-3;

  .wallet_name {
    color: $dark-5;
  }

  .spinner {
    width: 100%;
    color: $dark-5;
    display: flex;
    justify-content: flex-end;
  }
}
