@import "../../styles/typography.scss";
@import "../../styles/palette.scss";

.popover_content {
  .title {
    @include body-16-medium-mixin();
    color: $dark-10;
    margin-bottom: 32px;
  }

  .buttons {
    display: flex;
    .cancel {
      flex: 1;
      margin-right: 16px;
    }
    .apply {
      flex: 3;
      color: $dark-1;
    }
  }

  .close_icon_wrap {
    cursor: pointer;
    color: $dark-10;
    height: 15px;
    width: 15px;
    float: right;
  }
}

.trigger_btn {
  // color: @trigger-btn-color !important;
  // background: $dark-1 !important;
  .single_title {
    // @include body-14-regular-mixin() !important;
  }

  .title_outer {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  .sub_title_outer {
    margin-top: -5px;
  }

  .icon {
    vertical-align: middle;
    margin-left: 15px;
    width: 16px;
    height: 16px;
    display: inline-flex;
  }

  .icon.close {
    height: 8px;
  }

  :global(.anticon) {
    vertical-align: middle;
  }
}

.trigger_btn.filled {
  padding-top: 6px;
  padding-bottom: 6px;
}

.overlay {
  @media (max-width: 400px) {
    width: 95%;
  }
}
