@import "../styles/palette.scss";

button:global(.ant-btn-primary).btn:hover {
  color: $dark-3 !important;
}

button:global(.ant-btn-primary).btn:disabled {
  color: rgba(242, 243, 245, 0.25) !important;
}
