@import "../../styles/typography.scss";
@import "../../styles/palette.scss";

.range-trigger-btn {
  .sub-title {
    .label {
      color: $dark-10;
      @include body-14-regular-mixin;
    }

    .value {
      margin: 0 5px;
      color: $dark-10;
      @include body-14-bold-mixin();
    }
  }
}
