@import url("reset.css");
@import "../src/styles/common.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");

* {
  @include scrollbar-mixin();
  font-size: 100%;
  font-family: "Lato";
  margin: 0;
  padding: 0;
  z-index: 1;
}

body {
  overflow-x: hidden;
  width: 100%;
}
